/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

/* NAVBAR */
nav {
    background-color: #0d6efd;
    padding: 15px 0;

    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* CONTAINER */
.container {
    padding: 30px;
    display: flex;
    justify-content: center;
}

/* CARD */
.card {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* HOME */
.home {
    text-align: center;
}

.home h1 {
    color: #0d6efd;
}

.home h2 {
    color: #0d6efd;
    margin-top: 30px;
}

.home img {
    width: 300px;
    max-width: 90%;
    border-radius: 10px;
    margin: 15px 0;
}
